html{
  height: 100%;
}
body{
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 640px) {
   
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 100%;
      padding: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    
/* unwraps paragraphs on small screen */
    .unwrap{
        margin: 100px;
    }
    /* aligns text in center on smaller screen */
    .align{
      text-align: center;
      margin: 0 auto;
    }
    /* aligns nav links in center */
    .navLinks{
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px){
    /* aligns nav links in center */
    .navLinks{
      text-align: center;
      margin: 0;
      padding: 0;
    }
    /* aligns text in center on smaller screen */
    .align{
      text-align: center;
    }
    
  }

  
/* image css to allow text over image for portfolio links */
  .imgCaption{
    position: relative;
  }
  /* wording on the portfolio links */
  .caption{
    position: absolute;
    bottom: 20px;
    
  }
 
  /* First container that includes the background image */
  .container-bg{
    background-image: url("../images/background1.png"); 
    padding: 0;
    
}

/* Nested container that will contain all of the content */
.containerB{
  
  background: #ffffff;
  

  
  
}
/* Adds a border bottom to heading of page ("About Me", "Contact", "Portfolio") */
.my-border{
  border-bottom:2px solid #dddddd;
}

/* the next two classes are to remove the whitespace between the header and the background container */
.touch-top{
  margin-top: -1rem;
}
.touch-bottom{
  margin-bottom: -1rem;
}
.fColor{
 color: #4aaaa5
}
.bColor{
  background-color: #4aaaa5;
}
.width350{
  width: 350px;
}
#modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}
.modalconent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/background1.png");
  text-align: center;
  width: 80%;
  padding: 20px;
}


