@media screen and (max-width: 640px) {
   
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 480px;
      padding: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    /* Makes my profile picture bigger on a smaller screen */
    img#resize{
    width: 300px;
    height: 400px;
    }
/* unwraps paragraphs on small screen */
    .unwrap{
        margin: 100px;
    }
    /* aligns text in center on smaller screen */
    .align{
      text-align: center;
    }
    /* aligns nav links in center */
    .navLinks{
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px){
    /* aligns nav links in center */
    .navLinks{
      text-align: center;
      margin: 0;
      padding: 0;
    }
    /* aligns text in center on smaller screen */
    .align{
      text-align: center;
      margin: auto;
    }
  }
  
  .image{
    padding: 10px;
    margin-right: 10px;
  }
/* image css to allow text over image for portfolio links */
  .imgCaption{
    position: relative;
  }
  .caption{
    position: absolute;
    top: 70%;
    left: 35%;
    width: 100%;
  }
  .caption2{
      position: absolute;
      top: 70%;
      left: 20%;
      width: 100%;
  }
  .float{
      float: right;
  }
  .main{
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
  }

  